<header class="site-header">
  <a class="skip-link" href="#main">Preskoči na vsebino</a>

  <div class="container header__inner">
    <a class="brand" href="./" aria-label="Proagrar">
      <img class="brand__logo"
        src="./assets/img/Proagrar_LOGO-17.svg"
        alt="Proagrar"
        width="180"
        height="48"
      />
    </a>

    <button class="menu-toggle" aria-controls="site-nav" aria-expanded="false">
      <span class="menu-toggle__icon"></span>
    </button>

    <nav id="site-nav" class="site-nav" aria-label="Glavna navigacija">
      <ul class="nav-list">
        <li><a class="nav-link" href="./">Domov</a></li>
        <li><a class="nav-link" href="./about">Precizno kmetijstvo</a></li>
        <li><a class="nav-link" href="./services">Storitve</a></li>
        <li><a class="nav-link" href="./cases">Uporabniška izkušnja</a></li>
        <li><a class="nav-link" href="./contact">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>
